.wrapper {
  border: darkslategrey 0.5px solid;
  height: 100vh;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;

}

.wrapper h1 {
  text-align: center;

}
