// width ratio for 16:9 rectangle aspect ratio
$ratio : 56.25%;

/*try using the paper container and then grid from material ui to make responsive for all sizes as doing it for
Iphone SE is being tricky as it is so small*/

.ArticleCard {
  display: flex;
  margin-top:25px;
  min-width: 300px;
}

.details {
  display: flex;
  flexDirection: column;
}
.content {
  flex: 1 0 auto;
  text-wrap: avoid;


}
img {
  background-color: black;
  width: 150px;
  height: 100px;
  min-width: 50px;
  min-height: 35px;
  display: inline-block; /* makes it fit in like an <img> */
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}


